/*
-------------------------
Navbar
-------------------------
*/

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #242424;
}


.navbar-nav .nav-link {
    font-size: 25px;
    color: rgba(177, 100, 0, 0.877);
}


.navbar-nav .nav-link:hover {
    color: white;
}

.navbar-brand {
    margin-left: 40px;
}


.navbar-brand {
    font-family: 'Garamond', sans-serif; 
    font-weight: bold;
    color: rgba(177, 100, 0, 0.877);
    font-size: 2rem; 
    cursor: pointer;
}

.navbar-brand:hover {
    color: white;
}

.search-icon {
    margin-left: -40px;
}

.btn-search {
    background-color: white;
    border-color: #ced4da;
}

#searchInput {
    width: 300px;
}


/*
-------------------------
Banner
-------------------------
*/

.carousel-fade .carousel-item {
    transition: opacity 2s;
  }

.carousel-fade .carousel-item.active {
    opacity: 1;
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item-next.carousel-item-right,
.carousel-fade .carousel-item-prev.carousel-item-left {
    opacity: 0;
}

.carousel-control {
    display: none;
}

/* Classe para exibir as setas quando o mouse estiver sobre o banner */
.show-arrows .carousel-control {
    display: block;
}

/* Adaptação para telas pequenas */
@media (max-width: 768px) {
.show-arrows .carousel-control {
    display: none; /* Oculta as setas em telas pequenas */
    }
}